
.content1 {
  margin: 0 auto;
  width: 1440px;
 

}

.header {
  height: 100px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-text {
  display: flex;
  gap: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 40%;
}

.vertical-text a {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  /* writing-mode: vertical-rl; 文字竖排 */
  text-align: center;
  margin: 5px 0;
  text-decoration: none;
  color: #843249;
  letter-spacing: 4px;
  /* 调整字间距 */
}

.logo img {
  height: 80px;
  /* 根据需要调整 */
  margin-left: -15px;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 30px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: #f0f0f0;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 147px;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.about-link {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 20px;
}

.about-link a {
  text-decoration: none;
  color: #000;
}

/* 正文 */
.dynamic-width-box {
  display: inline-block;
  margin-left: 130px;
  min-width: 102px;
  text-align: center;
  padding: 10px;
  background-color: #e84192;
}








/* footer */
.section3 {
  background-color:#e2d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 79px;
  box-sizing: border-box;
  gap: 48px;
  text-align: center;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-family: "Work Sans";
 
}

.button14,
.button15,
.button16 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 64.2px;
  flex-shrink: 0;
  font-size: 16px;
}

.button-list,
.button-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.button-list {
  width: 272.2px;
  justify-content: center;
  gap: 20px;
}

.button-list-wrapper {
  width: 1244.4px;
  justify-content: center;
  max-width: 100%;
}

.separator1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}

.contact,
.copyright-info {
  display: flex;
  align-items: flex-start;
}

.copyright-info {
  width: 244.3px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}

.contact {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
}

.social-media,
.we-chat-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.we-chat-icon {
  flex-direction: column;
  padding: 2px 0 0;
}

.social-media {
  flex-direction: row;
  gap: 24px;
}

.wechat-fill-1-1 {
  width: 22px;
  height: 22px;
  position: relative;
  object-fit: cover;
}